@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Cinzel";
  src: url("/fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
}
