@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("/fonts/PlayfairDisplay-VariableFont_wght.ttf") format('truetype');
}